$body-bg: #FAFFFE;
$primary: rebeccapurple;

@import '~bootstrap/scss/bootstrap.scss';

.date-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.description-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navbar {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,0.55);
}



.list-group { 
    border: 0;
    //box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.15);
    border-radius: 0;
}

.list-group-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:gray;
    color: white;
    margin-top: 20px;
  }

.footer-content{
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 0 10px;
}

.footer-links {
    padding-top: 10px;
}

.footer-links > ul {
    padding: 0;  
}

.container {
    padding: 50px 0;
    height: 75vh;
}
 
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.banner > img {
    width: 56%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .footer-content {
        width: 90%;
        flex-direction: column;
    }

    .banner > img {
        width: 100%;
    }
}

/*
   <div className="banner">
                <img src="#" fluid />
            </div>
*/